body{
    background-color: #ebf3fe;
    direction: rtl;
    font-family: ;
}
@font-face{
    font-family: ;
    src: url('/font/ttf/IRANSansWeb_Bold.ttf');
}  
/* .menu:visited{
    background-color: blue;
    
} */
.bg-red-100{
    
    background-color: #fee5e0;
    color: #ff6346;
}

.rosa{
    background-color: #ff6346 ;
}
.red{
    border: 1.5px solid #ff6346;
    color: #ff6346;
}
.blue{
    border: 1.5px solid #889cd1 ;
    color: #889cd1;
}


  .form .plan input,label{
    display: none;
  }
  
  .form label{
    position: relative;
    color:black;
    background-color:#fff;
    font-size: 20px;
    text-align: center;
    display: block;
  }
  
  .form .plan input:checked + label{
    color: #fff;
    background-color: #ff6346;
    padding-top:1px;
    padding-bottom: 1px;
    padding-left:1rem ;
    padding-right: 1rem;
    border-radius: 20px;
  }

  