body{
    background-color: #ff7558;
    direction: rtl;
}
.bg-blue-100{
    background-color: #d8dff1;
    height: 563px;
    border-radius:50px 50px 0 0 ;
}
.bg-orange{
    background-color: #ff7558;
}
.bg-pink{
    background-color: #fdeeeb;
}
.bg-pink > h1{
    color: #d19986;
}
div .left{
    direction: ltr;
}
p{
    direction: rtl;
}
sub{
    float:right;
}
.fa-paper-plane{
    background-color: #ff7558;
    color: #fff;
}
.blue{
    color: #92a8b4;
}