@font-face{
  font-family: IranSanseBold;
  src: url('/fonts/MobileFonts/IRANSansMobile_Bold.ttf');
}
@font-face{
  font-family: IranSanseTLight;
  src: url('/fonts/MobileFonts/IRANSansMobile_Light.ttf');
}
body{
    direction: rtl;
    font-family: IranSanseBold;
}
.bg-orange-600{
  background-color: #EA580C;
}
.bg-orange-200{
  background-color: #FED7AA;
}
.switch-field {
	display: flex;
  margin: auto;
  border: none !important;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #fff;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
  border: none !important;
	margin-right: -1px;
	transition: all 0.1s ease-in-out;
}
.switch-field label:hover {
	cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.switch-field input:checked + label {
	background-color: #EA580C;
  margin: 0 10px;
	box-shadow: none;
}