body{
    direction: rtl;
} 
.bg-blueGray-200{
    background-color: #E5E7EB;
}
.text-blueGray-200{
    color: #E5E7EB;
}
.text-blueGray-500{
    color: #64748B;
}
.text-blueGray-600{
    color: #475569;
}
.text-blueGray-700{
    color: #334155;
}
.bg-lightBlue-400{
    background-color: #38BDF8;
}
.bg-emerald-400{
    background-color: #34D399;
}