
.container-1 div  {
    border: 1px #ccc solid;
    padding: 10px;
    text-transform: capitalize;
}
.container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
    text-transform: capitalize;
}
.container-3 div{
    border: 1px #ccc solid;
    padding: 10px;
    text-transform: capitalize;
}
.box-1{
flex: 2;
order: 2;
}
.box-2{
flex: 1;
order: 1;
}
.box-3{
flex:1;
order: 3;
}
.box{
    /* width: 27%; */
flex-basis: 27% ;
}
.box-{
    flex-basis:12%;
}
.container-3{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
@media(min-width:468px){
    .container-1{
        display: flex;
        /* align-items: flex-start; */
        /* align-items: center; */
        /* flex-direction: row; */
    }
    .container-2{
        display: flex;
        justify-content: space-between;
        }
}

